---
import MainFooter from './MainFooter.astro';
import MainHead from './MainHead.astro';

export type Props = {
  title?: string;
  lang?: string;
};

const { title = 'test', lang = 'en' } = Astro.props as Props;
---

<html {...{lang}}>
  <MainHead {...{title}} />
  <body class='min-h-screen flex justify-between flex-col w-full pt-10'>
    <div class='flex-1'>
      <slot />
    </div>
    <MainFooter />
  </body>
</html>
